name: auto_mappr
description: Code generation for mapping between different objects with ease.
version: 1.2.1
repository: https://github.com/netglade/auto_mappr
issue_tracker: https://github.com/netglade/auto_mappr/issues
screenshots:
  - description: The auto_mappr package logo.
    path: doc/icon.png

environment:
  sdk: ">=2.18.7 <3.0.0"

dependencies:
  analyzer: ^5.4.0
  auto_mappr_annotation: ^1.0.0
  build: ^2.3.1
  built_collection: ^5.1.1
  code_builder: ^4.4.0
  collection: ^1.17.0
  equatable: ^2.0.5
  path: ^1.8.2
  source_gen: ^1.2.6

dev_dependencies:
  build_runner: ^2.0.0
  dart_code_metrics: ^5.7.0
  generator_test: ^0.2.0
  mocktail: ^0.3.0
  netglade_analysis: ^1.2.0
  source_gen_test: ^1.0.4
  test: ^1.16.0
