name: ci

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  auto_mappr:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: 3.9.0

      - uses: bluefireteam/melos-action@v3

      - name: Generate AutoMappr files
        run: melos run gen:build-all

      - name: Analyze
        run: melos run lint:dart

      - name: Install DCM
        uses: CQLabs/setup-dcm@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run DCM (shell)
        run: dcm analyze . --fatal-style --fatal-warnings
        shell: bash

      - name: Test
        run: melos run test
